/* General */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightgrey;
  background-image: url("./Hiking-Biking-1.jpg");
  opacity: 0.7;
}

/* Navbar */

.App-logo {
  display:inline-block;
}

.App-header {
  background-color: #222;
  height: 115px;
  padding: 5px;
  color: white;
  opacity: 0.8;
}

.header-text, .header-text-website {
  display: inline-block;
  text-align: right;
  position: relative;
  margin-left: 15px;
}

.header-text-website {
  font-size: 20px;
}

/* Home Text */

.App-intro {
  text-align: center;
  font-size: 30px;
}

.successTitle {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  margin: auto;
  padding: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.bck-btn {
  display: inline-block;
  align-items: center;
  margin: 10px;
}

.log-btn {
  display: inline-block;
  align-items: center;
}

.intro-text {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  margin: auto;
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
}

.stores {
  text-align: center;
  padding: 100px;
  opacity: 1;
}

/* Bike View */

.bike-box {
  width: 600px;
  border: 2px solid black;
  margin: 5px;
  padding: 30px;
}

.mapid {
  height: 400px;
  width: 400px;
  border: 2px solid black;
  margin: 5px;
  padding: 30px;
}
