/* General */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e1eef6;
  /*background-image: url("./Hiking-Biking-1.jpg");*/
  opacity: 1;
  background-attachment: fixed;
  position: relative;
}

/* Images */
.iconDiv {
  margin-right: 15px;
  margin-left: 15px;
}

/* Buttons */

.SignButton, .SignButtonNav, .SignButtonOut {
	padding: 10px 20px;
	font-size: 18px;
  width: 110px;
	background-color:	#004e66;
	font-weight: bold;
	color: #fcbe32;
  border: 1px;
  border-radius: 17px;
}

.SignButton:hover, .SignButtonNav:hover, .SignButtonOut:hover{
  color: #FFD87F ;
}

.SignButtonOut {
  float: right;
  background:url(power.png) no-repeat;
  margin-top: 35px;
  height: 100px;
}

.SignButton{
    width: 130px;
  	font-size: 14px;
    margin: 10px;
}

.bck-btn {
  display: inline-block;
  align-items: center;
  margin: 10px;
}

.log-btn {
  display: inline-block;
  align-items: center;
}

/* Navbar */

.App-logo {
  display:inline-block;
}

.App-header {
  background-color: #004e66;
  height: 115px;
  padding: 5px;
}

.header-text, .header-text-website {
  display: inline-block;
  text-align: right;
  position: relative;
  margin-left: 15px;
}

.header-text-website {
  font-size: 20px;
}

/* Home Text */

.App-intro {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #ff5f2e;
}

.successTitle {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  margin: auto;
  padding: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.intro-text {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  margin: auto;
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  color: #004e66;
}

.stores {
  text-align: center;
  padding: 100px;
  opacity: 1;
}

/* Bike View */

.bike-box {
  width: 1000px;
  border: 2px solid black;
  margin: 5px;
  padding: 30px;
  color: red;
  margin:auto;
}

.mapid {
  height: 400px;
  width: 400px;
  border: 2px solid black;
  margin: 5px;
  padding: 30px;
}
